<!DOCTYPE html>
<html>
<head>
	<title>OnlineTest</title>
	<link th:href="@{/css/login.css}" rel="stylesheet" />
<script>
	function login()
	{
		let userName=document.getElementById('email');
		let pass=document.getElementById('pswd');
		//alert(Data: );
		console.log("Data: "+userName+" "+pass);
	}
</script>
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="" autocomplete="off">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="" autocomplete="on">
					<input type="password" name="pswd" placeholder="Password" required="" autocomplete="off">  	
		<div>
				<form action="">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" id="email" placeholder="Email" required="">
					<input type="password" id="pswd" placeholder="Password" required="">
					<button onclick="login()">Login</button>
				</form>
		</div>			
	</div>-->
</body>
</html>